body {
    display: flex;
    flex-direction: column;
}

.score-board, .buttons, .heading {
    margin-top: 80px;
    display: flex;
    justify-content: center;
}

.score-board {
    gap: 80px;
}

.heading {
    gap: 390px;
    margin-bottom: -80px;
}

.counter, .userScore, .cpuScore, .active {
    display: flex;
    height: 100px;
    width: 200px;
    background-color: aliceblue;
    align-self: center;
    border: solid 2px black;
    border-radius: 25px;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    font-weight: 700;
}

.active {
    color: white;
    width: 300px;
    margin: 80px;
}

.userScore, .cpuScore {
    height: 100px;
    width: 100px;
}

.buttons {
    align-items: center;
    height: 80px;
    gap: 100px;
}

button {
    width: 80px;
    height: 80px;
    background-color: white;
    border-radius: 50%;
}

button:hover {
    background-color: black;
    color: white;
}

i {
    font-size: 50px;
}